h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 1.65rem;
    font-stretch: extra-condensed;
    color: hsl(300, 43%, 22%);
    margin-left: 3.938rem;
    margin-right: 3.938rem;
    word-spacing: 0em;
    
}

.container-users-love p {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    margin: 0 1.3rem;
    text-align: justify;
    text-align-last: center;
    font-stretch: condensed;
    word-spacing: -0.33em;
    
}

.container-calification p {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-size: 14px;
    margin: 8px;

}

.card h2, p{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
}

.card h3{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: hsl(333, 80%, 67%);
}

.card p {
    text-align: justify;
    
    text-align-last: left;
    line-height: 1.4rem;
    
}

@media only screen and (min-width: 1140px) {

    .container-users-love h1{
        text-align: left;
        font-size: 2rem;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0.5rem;
        padding-right: 5rem;
    }

    .container-users-love p {
        text-align: left;
        text-align-last: left;
        margin-left: 0;
        word-spacing: 0.25rem;
    }

    .container-calification p {
        text-align: left;
        margin-left: 10rem;
    }
}